*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styles for the header*/
.container {
    width: 90%;
    height: 100vh;
    border: 1px dashed black;
    margin: 0 auto;
}

#header {
    height: 150px;
    width: 100%;
}

.web-title{
    font-size: 4rem;
    font-family: 'Playpen Sans', cursive;
    text-align: center;
    color: #4090f3;
    font-weight: 700;
    font-style: italic;
}

/*Styles for the controllers*/
.controllers{
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.controllers > .ctrl-grid, .ctrl-color{
    width: 30%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    gap: 10px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    color: #134B70;
}
